@use "../utils/" as *;

.homepage-main {
    @include hw-full;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    &> .background{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0px;
        left:0px;
        z-index: -1;
    }

    .homepage-main-container {
        @include hw-full;

    }
}